body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: #5656561e;
}

#header {
    background-color: #cecdcd;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    margin: 0 10px 0 20px;
    color: #ffffff;
    font-size: 250%;
    font-weight: 400;
}

.search {
    background-color: #ffffff;
    width: 50%;
    max-width: 300px;
    height: 70%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

input {
    border: unset;
    font-size: 110%;
}

input:focus {
    outline: none;
}

.icon {
    height: 2.5vh;
    margin-left: 11px;
    margin-top: 2px;
    margin-right: 8px;
    filter: opacity(0.7);
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.card-small {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    box-shadow: -8px 8px 6px 0px rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 200%;
    color: white;
    margin: 8px 5px;
}

.image {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.image img {
    width: 130px;
  
}

.properties-overview {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 5px 10px;
    overflow: hidden;
    gap: 10px;
}

.property {
    background-color: rgb(227, 225, 225);
    border-radius: 10px;
    padding: 4px 14px;
    margin: 5px 0px;
    font-size: small;
}

.dialog-bg {
    background-color: rgba(163, 163, 163, 0.809);
    z-index: 998;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

#close-icon {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    padding: 15px;
    cursor: pointer;
}

#chevrons {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

#chevrons img {
    flex: none;
    object-fit: scale-down;
    height: 50px;
    cursor: pointer;
}

#chev-left {
    flex: none;
    width: max-content;
}

#chev-right {
    width: max-content;
}

.card-big {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    margin: 15px;
    width: 320px;
    z-index: 999;
    box-shadow: -10px 10px 6px 0px rgba(0, 0, 0, 0.4);
}

.card-big img {
    width: 190px;
}

.details {
    background-color: white;
    border-radius: 20px;
    border: solid 1px;
    border-color: bisque;
    padding: 15px;
    margin-top: 10px;
    font-size: small;
    width: 85%;
}

.card-menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu-item {
    font-weight: 600;
    color: #565656;
    cursor: pointer;
}

.property-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0px;
}

.property-details div {
    margin-bottom: 5px;
}

#about {
display: block;
}

.abilities {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ability {
    margin: 0px 2px;
}

#base-stats {
    display: none;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

#base-stats-charts {
    width: 100%;
    height: 400px; /* Höhe anpassen */
    max-width: 100%;
}

#button-div {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

button {
    border-radius: 20px;
    border-style: unset;
    width: 150px;
    height: 40px;
    background-color: #c9c9c9;
    font-size: larger;
    font-weight: 400;
    cursor: pointer;
}

.normal { background-color: #A8A77A; }
.fire { background-color: #EE8130; }
.water { background-color: #6390F0; }
.electric { background-color: #F7D02C}
.grass { background-color: #7AC74C}
.ice { background-color: #96D9D6}
.fighting { background-color: #C22E28}
.poison { background-color: #A33EA1}
.ground { background-color: #E2BF65}
.flying { background-color: #A98FF3}
.psychic { background-color: #F95587}
.bug { background-color: #A6B91A}
.rock { background-color: #B6A136}
.ghost { background-color: #735797}
.dragon { background-color: #6F35FC}
.dark { background-color: #705746}
.steel { background-color: #B7B7CE}
.fairy { background-color: #D685AD}


@media (max-width: 570px) {
    #header {
        flex-direction: column;
        height: 70%;
        align-items: center;
        justify-content: center;
    }

    h2 {
        margin-left: 0;
    }

    .search {
        margin-top: 10px;
        margin-bottom: 10px;
       height: 40px;
       min-width: 280px;
    }
}

@media (max-width: 320px) {
    .card-big {
        margin: 15px;
}
}

@media (max-width: 450px) {
    #chevrons {
        position: absolute;
        top: 85%;
        width: 100%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        gap: 8px;
    }
}